body{
    background-color: aliceblue;
    color: rgba(250, 235, 215, 0);
    font-family: Arial, sans-serif;
}

header {
    background-color: darkblue;
    color:white
    text-align: center;
    padding: 30px;
} 

h1 {
    font-size: 36px;
}

h2 {
    color:darkgreen
}

p {
    font-size: 18px;
    line-height: 1.6;
}