body{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    background-color: darkblue;
    color: black;
    text-align: center;
    padding: 30px;
} 

h1 {
    font-size: 36px;
}

h2 {
    color:darkgreen
}

p {
    font-size: 18px;
    line-height: 1.6;
}